{% extends 'base.html.twig' %}

{% block title %}Faites entrer les artistes !{% endblock %}

{% block body %}
    <h1>Notre Troupe :</h1>
    {% for artist in artists %}
        <article>
            <h2>{{ artist.name }}</h2>
            <div class="content">
                <img src="{{ artist.image }}" alt="">
                {{ artist.description }}
                <a href="{{ path('show_artist', {'id': artist.id}) }}" class="btn btn-primary">Consulter la suite</a>
            </div>
        </article>
    {% endfor %}
{% endblock %}
