{% extends 'base.html.twig' %}

{% block title %}Our Artists{% endblock %}

{% block body %}
<h1>Artists</h1>
<section class="artists">

        {% for artist in artists %}
            <article>
                <h2>{{ artist.name }}</h2>
                <div class="tag">Membre de la troupe depuis le 22/07/2020</div>
                <div class="content">
                    <img src="{{ artist.image }}" alt="">
                    <p>{{ artist.description }}.</p>
                    <a href="{{ path('show_artist', {'id': artist.id })}}" class="btn btn-primary">Venez voir la suite</a>

                </div>
            </article>
        {% endfor %}
</section>

{% endblock %}
