{% extends 'base.html.twig' %}
{% block body %}
    <article>
        <h2>{{ artist.name }}</h2>
        <div class="tag">Membre de la troupe depuis le 22/07/2020</div>
        <div class="content">
            <img src="{{ artist.image }}" alt="">
            <p>{{  artist.description }}</p>

        </div>
    </article>
{% endblock %}