{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h2>{{ performance.name}}</h2>
    <div class="content">
        <div class="metadata">Date de représentation : {{ performance.showedAt | date ('d/m/Y') }}</div>
        <img src="{{ performance.image }}" alt="">
        {{ performance.description }}
    </div>
</article>
{% endblock %}